.boton {background-color: black ;
    color: white;
    border: solid;
    border-color:#FEC107 ; 
    font-size: larger;
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
    text-align: center;
    margin: 5px;
}