.cart {
    margin-bottom: 0;
    width: 40px;
    color: #FEC107;
}

.borde {
        border: solid;
    border-color: #FEC107 ;
    color: #FEC107;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: black;
}