.botonera {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    
}

.boton {background-color: black ;
    color: white;
    border-color:#FEC107 ; 
    font-size: larger;
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
    text-align: center;
}